/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barra superior ..................................................*/
.topbar {
    height: 75px;
    background-color: rgba(33, 48, 80, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0; /* Alineación al borde izquierdo */
    width: 100%;
    transition: width 0.3s ease; /* Transición suave */
}

/* Barra lateral --------------------------------------------------------*/
.sidebar {
    width: 15vw; /* Ancho dinámico basado en el viewport */
    min-width: 80px; /* Ancho mínimo para pantallas pequeñas */
    max-width: 180px; /* Ancho máximo para pantallas grandes */
    height: 100vh;
    background-color: #03153a;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.sidebar .logo img {
    width: 180px; /* Ajusta el tamaño del logo para que sea más grande */
    height: 60px; /* Mantiene la proporción del logo */
    background-color: #07235c;
}

/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar .nav-links li {
    width: 100%;
}
/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff; /* Color del texto en blanco */
    text-decoration: none;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    font-size: 1vw; /* El tamaño de fuente es relativo al ancho de la ventana */
    padding: 15px 10%; /* El padding se ajusta proporcionalmente */
}

.sidebar .nav-links a:hover {
    background-color: #1B263A; /* Color al pasar el mouse */
}

.sidebar .nav-links svg {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.sidebar .logo img {
    width: 100%; /* Ajusta el tamaño del logo al 100% del contenedor */
    height: auto;
}

.sidebar .nav-links svg {
    margin-right: 1vw; /* Espacio entre el ícono y el texto basado en vw */
}

/* Animacion de la barra lateral ---------------------------------- */
.nav-links a {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-20px); /* Mueve los elementos un poco a la izquierda */
    transition: opacity 0.5s ease, transform 1s ease; /* Efecto de transición */
}

.nav-links a.visible {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Mueve los elementos a su posición original */
}

/* ------------------------div del contenido princial-------------------------------------------- */
/* Estilo del div de contenido */
.content {
    background-color: #1B263A;
    position: absolute;
    top: 94px;
    left: 14vw;
    right: 30px;
    bottom: 14px;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.bottom-div {
    flex-grow: 1; /* Ocupa el resto del espacio */
    flex-basis: 80%; /* Toma el 80% del tamaño del contenedor */
    background-color: #34495E; /* Color de ejemplo */
}

.top-div {
    flex-grow: 0;
    flex-basis: 10%;
    background-color: #E0E0E0; /* Color de fondo similar al de la imagen */
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn-retroceder {
    background-color: #1B263A; /* Color de fondo del botón circular */
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #1B263A; /* Color del texto */
    margin: 0;
    text-shadow: 1px 1px 2px #5A6A83, -1px -1px 2px #5A6A83; /* Sombra para el efecto de borde */
    letter-spacing: 2px; /* Espaciado entre letras para mejorar el estilo */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
}


.edit-link {
    color: #1B263A; /* Color del texto "Editar" */
    font-size: 16px;
    text-decoration: none;
}

/* para las categorias */

#categorias-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 6px; /* Espacio entre los elementos */
}

.categoria-card {
    background-color: #E0E0E0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categoria-img {
    width: 100%;
    padding-top: 100%; /* Relación de aspecto 1:1 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.categoria-card h3 {
    font-size: 16px;
    font-weight: bold;
    color: #1B263A;
}


