/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barra superior ..................................................*/

.topbar {
    height: 75px;
    background-color: rgba(33, 48, 80, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0; /* Alineación al borde izquierdo */
    width: 100%;
    transition: width 0.3s ease; /* Transición suave */
}

/* Barra lateral --------------------------------------------------------*/
.sidebar {
    width: 15vw; /* Ancho dinámico basado en el viewport */
    min-width: 80px; /* Ancho mínimo para pantallas pequeñas */
    max-width: 180px; /* Ancho máximo para pantallas grandes */
    height: 100vh;
    background-color: #03153a;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.sidebar .logo img {
    margin-top: 0px;
    width: 150px; /* Ajusta el tamaño del logo para que sea más grande */
    height: 60px; /* Mantiene la proporción del logo */
    background-color: #07235c;
}

/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar .nav-links li {
    width: 100%;
}
/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff; /* Color del texto en blanco */
    text-decoration: none;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    font-size: 1vw; /* El tamaño de fuente es relativo al ancho de la ventana */
    padding: 15px 10%; /* El padding se ajusta proporcionalmente */
}

.sidebar .nav-links a:hover {
    background-color: #1B263A; /* Color al pasar el mouse */
}

.sidebar .nav-links svg {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.sidebar .logo img {
    width: 100%; /* Ajusta el tamaño del logo al 100% del contenedor */
    height: auto;
}

.sidebar .nav-links svg {
    margin-right: 1vw; /* Espacio entre el ícono y el texto basado en vw */
}

/* Animacion de la barra lateral ---------------------------------- */
.nav-links a {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-20px); /* Mueve los elementos un poco a la izquierda */
    transition: opacity 0.5s ease, transform 1s ease; /* Efecto de transición */
}

.nav-links a.visible {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Mueve los elementos a su posición original */
}

/* ------------------------div del contenido princial-------------------------------------------- */
/* Estilo del div de contenido */
.content{
    position: absolute; /* Mantener la posición absoluta */
    top: 78px; /* Desde el borde de la barra superior */
    left: 15vw; /* Desde el borde de la barra lateral */
    right: 28px; /* Límite derecho */
    height: calc(100vh - 120px + 30px); /* Ajustar para que sea más largo en la parte inferior */
    padding: 30px;
    overflow: auto; /* Permitir desplazamiento si el contenido excede el tamaño */
    display: flex;
    flex-direction: column; /* Para que los divs se apilen verticalmente */
}


.contenedor-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedor-superior h3 {
    color: #333; /* Color del texto */
    padding: 5px 50px; /* Espacio alrededor del texto */
    border: 3px solid #1f3d3f; /* Borde exterior oscuro */
    box-shadow: 0px 0px 0px 6px #2b4d4f; /* Borde interno */
    margin: 0; /* Elimina el margen */
    font-size: 1.5em; /* Tamaño de fuente ajustado */
    text-align: center;
}
.contenedor-central {
border: 8px solid #283a4b; 
}
.contenedor-izquierda {
border: 8px solid #013463; 
}
.contenedor-derecha {
border: 8px solid #3c5770; 
}
.row-alto-restante {
height: 85%;
}

.col {
margin: 0 20px; /* Margen de 20px a cada lado, para que entre columnas haya 40px */
}

.contenedor-izquierda, .contenedor-central, .contenedor-derecha {
    width: 20%; /* Cambia este valor al ancho que desees */
    justify-items: center;
    padding: 10px;
    background-color: #cfd4da;
}


.img-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 200px; /* Ajusta este valor según lo grande que desees la imagen */
    height: 200px; /* Igual que el ancho para mantener la forma circular */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegúrate de que la imagen no se desborde */
    background-color: #A3C3F2; /* Color de fondo opcional */
}

.img-container2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 200px; /* Ajusta este valor según lo grande que desees la imagen */
    height: 200px; /* Igual que el ancho para mantener la forma circular */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegúrate de que la imagen no se desborde */
    background-color: #4BC9F1; /* Color de fondo opcional */
}

.img-container3 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 200px; /* Ajusta este valor según lo grande que desees la imagen */
    height: 200px; /* Igual que el ancho para mantener la forma circular */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegúrate de que la imagen no se desborde */
    background-color: #0096C8; /* Color de fondo opcional */
}


.img-container a img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Recorta la imagen si es necesario para llenar el contenedor */
}
