@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* General */
body {
    margin: 0;
}

/* Barra superior ..................................................*/

.topbar {
    height: 75px;
    background-color: rgba(33, 48, 80, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0; /* Alineación al borde izquierdo */
    width: 100%;
    transition: width 0.3s ease; /* Transición suave */
}

/* Barra lateral --------------------------------------------------------*/
.sidebar {
    width: 15vw; /* Ancho dinámico basado en el viewport */
    min-width: 80px; /* Ancho mínimo para pantallas pequeñas */
    max-width: 180px; /* Ancho máximo para pantallas grandes */
    height: 100vh;
    background-color: #03153a;
    position: fixed; /* Asegúrate de que esté fijo */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}


.sidebar .logo img {
    width: 180px; /* Ajusta el tamaño del logo para que sea más grande */
    height: 60px; /* Mantiene la proporción del logo */
    background-color: #07235c;
}

/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar .nav-links li {
    width: 100%;
}
/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff; /* Color del texto en blanco */
    text-decoration: none;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    font-size: 1vw; /* El tamaño de fuente es relativo al ancho de la ventana */
    padding: 15px 10%; /* El padding se ajusta proporcionalmente */
}

.sidebar .nav-links a:hover {
    background-color: #1B263A; /* Color al pasar el mouse */
}

.sidebar .nav-links svg {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.sidebar .logo img {
    width: 100%; /* Ajusta el tamaño del logo al 100% del contenedor */
    height: auto;
}

.sidebar .nav-links svg {
    margin-right: 1vw; /* Espacio entre el ícono y el texto basado en vw */
}

/* Animacion de la barra lateral ---------------------------------- */
.nav-links a {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-20px); /* Mueve los elementos un poco a la izquierda */
    transition: opacity 0.5s ease, transform 1s ease; /* Efecto de transición */
}

.nav-links a.visible {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Mueve los elementos a su posición original */
}

/* ------------------------div del contenido princial-------------------------------------------- */
/* Estilos personalizados del contenedor principal */
.contenido {
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 15vw;
    right: 28px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

.superior {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.superior .retoceder {
    margin-right: 50px;
}

.superior h1 {
    font-size: 18px;
    margin-left: 13px;

    color: black;
}

.superior .izquierda-superior {
    display: flex;
    align-items: center;
}


.retroceder{
    background-color: #1B263A;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 22px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

/* Estilos para el contenido interno de .content */
.contenedor-inferior {
    display: flex;
    height: 100%;
    /* Resto de la altura (100% - 30%) */
}

.izquierda {
    width: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.derecha {
    width: 50%;
}

.imagenProducto {
    width: 70%;
    height: 70%;
    background-color: #03153a;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    border-radius: 15px; /* Bordes curvados */
    box-shadow: 0 4px 8px #03153a; /* Sombra azul */
    overflow: hidden; /* Evita que la imagen sobresalga del div */
}

.imagenProducto img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 100%; /* La imagen ocupa todo el alto del contenedor */
    border-radius: 15px; /* Hace que la imagen siga los bordes curvados del div */
}

.descripcionProducto{
    padding: 20px;
    height: 55%;
    margin: 10px;
    color: #00072c; /* Cambia el color del texto */
    font-family:"Lato", sans-serif;
    font-size: 1.3rem; /* Aumenta el tamaño de la letra */
    text-align: justify; /* Opcional: Justifica el texto para un aspecto más profesional */
    overflow: auto;
}

/* Personalización del scroll */
.descripcionProducto::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    background-color: #e5e7eb; /* Color del fondo del scroll */
}

.descripcionProducto::-webkit-scrollbar-thumb {
    background-color: #00072c; /* Color del "pulgar" del scroll */
    border-radius: 10px; /* Bordes redondeados */
}

.descripcionProducto::-webkit-scrollbar-thumb:hover {
    background-color: #0a0e25; /* Color más oscuro al pasar el mouse */
}

.descripcionProducto::-webkit-scrollbar-track {
    background-color: #e5e7eb; /* Fondo de la barra */
    border-radius: 10px; /* Bordes redondeados */
}

.precioProducto .cantidadProducto{
    height: 40px;
    color: #00072c; /* Cambia el color del texto */
}

.informacion{
    margin: 20px;
}

.btnAgregar {
    margin: 20px;
    background-color: #03153a; /* Color del fondo */
    color: #ffffff; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-align: center; /* Centra el texto */
    transition: background-color 0.3s ease; /* Animación suave para hover */
}

/* Efecto hover */
.btnAgregar:hover {
    background-color: #02203d; /* Color más oscuro al pasar el mouse */
}
