/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barra superior ..................................................*/

.topbar {
    height: 75px;
    background-color: rgba(33, 48, 80, 0.9);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0; /* Alineación al borde izquierdo */
    width: 100%;
    transition: width 0.3s ease; /* Transición suave */
}

/* Barra lateral --------------------------------------------------------*/
.sidebar {
    width: 15vw; /* Ancho dinámico basado en el viewport */
    min-width: 80px; /* Ancho mínimo para pantallas pequeñas */
    max-width: 180px; /* Ancho máximo para pantallas grandes */
    height: 100vh;
    background-color: #03153a;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.sidebar .logo img {
    width: 180px; /* Ajusta el tamaño del logo para que sea más grande */
    height: 60px; /* Mantiene la proporción del logo */
    background-color: #07235c;
}

/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar .nav-links li {
    width: 100%;
}
/* Estilo de los enlaces de la barra lateral */
.sidebar .nav-links a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff; /* Color del texto en blanco */
    text-decoration: none;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    font-size: 1vw; /* El tamaño de fuente es relativo al ancho de la ventana */
    padding: 15px 10%; /* El padding se ajusta proporcionalmente */
}

.sidebar .nav-links a:hover {
    background-color: #1B263A; /* Color al pasar el mouse */
}

.sidebar .nav-links svg {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.sidebar .logo img {
    width: 100%; /* Ajusta el tamaño del logo al 100% del contenedor */
    height: auto;
}

.sidebar .nav-links svg {
    margin-right: 1vw; /* Espacio entre el ícono y el texto basado en vw */
}

/* Animacion de la barra lateral ---------------------------------- */
.nav-links a {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-20px); /* Mueve los elementos un poco a la izquierda */
    transition: opacity 0.5s ease, transform 1s ease; /* Efecto de transición */
}

.nav-links a.visible {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Mueve los elementos a su posición original */
}

/* ------------------------div del contenido principal-------------------------------------------- */
.content {
    position: absolute; /* Mantener la posición absoluta */
    top: 75px; /* Desde el borde de la barra superior */
    left: 15vw; /* Desde el borde de la barra lateral */
    right: 30px; /* Límite derecho */
    height: calc(100vh - 120px + 30px); /* Ajustar para que sea más largo en la parte inferior */
    padding: 0px 5px 0px 5px; /* Ajusta los márgenes: arriba, derecha, abajo, izquierda */
    overflow: auto; /* Permitir desplazamiento si el contenido excede el tamaño */
    display: flex;
    flex-direction: column; /* Para que los divs se apilen verticalmente */
}

#titulo-usuario {
    color: #ffffff;
    background-color: #03153a;
    padding: 10px 10px; /* 10px arriba y abajo, 10px a los lados */
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 0px; /* Eliminar margen a la izquierda */
}


.centerend{
    text-align: center !important;
    vertical-align: middle !important;
}

/* Modal de mensaje personalizado */
.mensajeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 99999 !important; /* Asegúrate que sea muy alto */
}

/* Otros estilos */
.addUserModal {
    z-index: 999 !important; /* Asegúrate de que este sea más bajo que el del modal de mensaje */
}

/* Personalización de colores del encabezado */
.modal-header.exito {
    background-color: #4CAF50; /* Verde para éxito */
    color: white;
}

.modal-header.error {
    background-color: #f44336; /* Rojo para error */
    color: white;
}

.modal-header.info {
    background-color: #0013c0; /* Azul para información */
    color: white;
}

/* Aseguramos que el contenido del modal esté en primer plano */
.mensajeModalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 10001; /* Asegura que el contenido del modal esté por encima del fondo */
}

